<!DOCTYPE HTML>
<html>
  <head>
    <title>Deploy Ninja</title>
    <link rel="stylesheet" type="text/css" href="/theme.css" />
  </head>
  <body>
    <div class="site-container">
      <%= yield %>
    <div>
  </body>
</html>
